@font-face {
  font-family: "iconfont"; /* Project id 4828502 */
  src: url('iconfont.eot?t=1739580382551'); /* IE9 */
  src: url('iconfont.eot?t=1739580382551#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABngAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACCcApsgQQBNgIkAwgLBgAEIAWEZwc3G8cFyK6wKcO9SFEkrRkbANS9dz4yOISh5Dw8f/U7982btm3zLF5WircVKI2KswQDiQLMwg/e/LX2eyeIJ5OdoZvLntne7C3m7Q+NTsJLotG9iSdCM3DIgQQK8aEFJnHpWr2eALvvKUHp6vN/7/gvoA98QeQPGquisTa16YEFmH6w9rKiCDuh5ykMrzrInQjDMwJNNtTid1q7hyH+FjMP0ojs0SBrjFtTxxApRWWZFhqEOnRvhniHkvTK/wBv0eejpjAiQVIWYLfsn7cocPnOAuHl36D4tT1fF30soUSBFSATx93ZXYJo4gVNXtEUbc+Cmv8HHrFrW/x1dn0LGKHiPUmefKv1CeRkfBTYHPXLSJ1aOxoevt1OVMfGJmKE0dckjBEsczuh4WEpNJKZszj8ofWVXCN+L/0/dfi8fyBJ31hIAY6HztMvRob51Y7DudRz3rF6gCrhX2gFDsHTSunnXEL1ImNEgL+ajcJVIswPGvbqDX6RegYSsxEn5SOVCSRFGpVOaHISVOxgl8exRvetFEOD7hvy1xvOUGgwRWVuCaVmW6jTYBtNlrUcbtbNJ4gcBczZIwgdzpG0+UKhwxWVuQeU+nyhTodfNDmNuPOazYXcRFXMVAVJK8iUiae5OoucDqr6goNpXWpUpYFJE6hgbaNcaFM9lU6xIVjUCxnTkEaJi1qFx1THIcinxFJllmsw5lfmrZ83vSVXJi40oVQYo1IgkhWISUZ4tIDMit83SKVb4MAoSI1mqYBJnSMFcuUDVJviQX138kpgka4Qw2gQDUW4kFZplsrhIBC/eZZFJWNyGSPSvkp5DklDldz1NffrCUPYZgpnsgCtF4TojhrIBnkXGwAA') format('woff2'),
       url('iconfont.woff?t=1739580382551') format('woff'),
       url('iconfont.ttf?t=1739580382551') format('truetype'),
       url('iconfont.svg?t=1739580382551#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googlescholar:before {
  content: "\ebae";
}

